*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 750px;
    margin: 10px auto;
}

/*------- utility---- utility INIZIO utility----- utility-------- */

.row-clearfix::after{
    content: "";     
    display: table;
    clear: both;
}

.row-clearfix.first{
    margin-bottom: 30px;
}

.zalando{
    height: 320px;
    background-size: cover;
    background-position: top;
    position: relative;
}

.fl{
    float: left;
    width: 250px;
    height: 378px;
}


.fl.right{
    padding-right: 5px;
}

.fl.both{
    padding-right: 5px;
    padding-left: 5px;
}

.fl.left{
    padding-left: 5px;
}

.det{
    font-size: 12px;
    color: white;
    padding: 3px;
}

/*------- utility---- utility FINE utility----- utility-------- */


.picture-one{
    background-image: url(../img/1.webp);
}

.zalando.picture-one:hover{
    background-image: url(../img/1-hover.webp);
}

.picture-two{
    background-image: url(../img/2.webp);
}

.zalando.picture-two:hover{
    background-image: url(../img/2-hover.webp);
}

.picture-three{
    background-image: url(../img/3.webp);
}

.zalando.picture-three:hover{
    background-image: url(../img/3-hover.webp);
}

.zalando.picture-four{
    background-image: url(../img/4.webp);
}

.zalando.picture-four:hover{
    background-image: url(../img/4-hover.webp);
}

.zalando.picture-five{
    background-image: url(../img/5.webp);
}

.zalando.picture-five:hover{
    background-image: url(../img/5-hover.webp);
}

.zalando.picture-six{
    background-image: url(../img/6.webp);
}

.zalando.picture-six:hover{
    background-image: url(../img/6-hover.webp);
}


/* ------------------------------- */
.details{
    position: absolute;
    left: 0;
    bottom: 8px;
}

.discount{
    background:rgb(241, 56, 56);
}

.impact{
    background:rgb(26, 133, 26);
}

.brand-price{
    font-size: 14px;
}

.brand-price span:last-child{
    color: rgb(241, 56, 56);
    font-weight: bold;
    line-height: 30px;
}

#heart{
    position: absolute;
    right: 0;
    top: 5px;
    background: white;
    font-size: 24px;
    padding: 0 5px;
}


#product-quote{
    background: green;
    padding: 10px 0 10px 10px;
}


/* ----------------------------------- */



